/* Hero section */

.hero-section__title {
  font-size: 2.5rem;
}

.hero-section__avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.hero-section__avatar-container > :first-child {
  border-radius: 50% 0 0 50%;
}

.hero-section__avatar-container > :last-child {
  border-radius: 0 50% 50% 0%;
}

.hero-section__avatar-container > * {
  width: 250px;
  height: auto;
  object-fit: contain;
}

.hero-section__navigation {
  padding: 20px 30px;
  outline: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-section__navigation > a {
  text-decoration: none;
}

.method-too-long-form__message {
  color: green;
}

.query-params__form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 10px;
  grid-column-gap: 5px;

  margin-bottom: 20px;
}
